.main-wrapper {
  width: 100%;
  height: 100%;
  background: lightgray;
}
.map-wrapper {
  width: 1000px;
  height: 800px;
}
.filter-wrapper {
  padding: 20px;
}
.row {
  margin: 0px;
}
.ol-zoom .ol-zoom-out {
  margin-top: 204px;
}
.ol-zoomslider {
  background-color: transparent;
  top: 2.3em;
}

.ol-touch .ol-zoom .ol-zoom-out {
  margin-top: 212px;
}
.ol-touch .ol-zoomslider {
  top: 2.75em;
}

.ol-zoom-in.ol-has-tooltip:hover [role='tooltip'],
.ol-zoom-in.ol-has-tooltip:focus [role='tooltip'] {
  top: 3px;
}

.ol-zoom-out.ol-has-tooltip:hover [role='tooltip'],
.ol-zoom-out.ol-has-tooltip:focus [role='tooltip'] {
  top: 232px;
}

/////////////
.ol-popup {
  position: absolute;
  color: black;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 220px;
}
.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: '✖';
  color: #24262d;
}
#map {
  position: relative;
  background: #f9f9f9;
}
