<div class="row">
  <div class="filter-wrapper">
    <form class="form-inline" (submit)="doSearch()">
      <label class="sr-only" for="machine">Толеранс</label>
      <input
        type="text"
        class="form-control mb-2 mr-sm-2"
        id="machine"
        placeholder="Толеранс"
      />
      <button type="submit" class="btn btn-primary mb-2">Търси</button>
    </form>
  </div>
</div>
<div class="map-wrapper">
  <div class="card border-0">
    <div class="card-body p-0 m-1">
      <div
        id="map"
        class="map"
        [style.height]="mapHeight"
        [style.width]="mapWidth"
        class="mx-auto"
      ></div>
    </div>
  </div>
</div>
